@media(max-width: 1100px) {
    .nav-wrapper {
        width: 760px;
    }

    .proyek {
        flex-wrap: wrap;
    }
}


@media(max-width: 760px) {
    .nav-wrapper {
        width: 3800px;
    }
}