* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}



.navbar {
    width: 100%;
    background-color: #404146;
    color: aliceblue;
}

.nav-wrapper {
    width: 1170px;
    height: 70px;
    margin: 0 auto;
    display: flex;

}

.nav-logo {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
    /* margin-top: 8px; */
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.nav-menu {
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-menu a {
    margin-right: 30px;
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}

.jumbotron-wrapper {
    height: 100vh;
    display: flex;
    color: #404146;
}

.container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.j-logo {
    width: 250px;
}

.container h1 {
    font-size: 150px;
}

.container h3 {
    font-size: 70px;
    font-weight: normal;
}

.container span {
    color: chocolate;
}

.about-wrapper {
    background-color: #f4f4f4;
    padding: 100px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #404146;
}

.about-wrapper h2 {
    margin-bottom: 30px;
}

.about-wrapper p {
    text-align: center;
    line-height: 24px;
}

.project-wrapper {
    padding: 100px 120px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

}

.project-wrapper h2 {
    margin-bottom: 30px;
    text-align: center;
}

.proyek {
    display: flex;
    justify-content: space-between;
    /* background: #404146; */
}

.proyek-item {
    /* margin-left: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyek-item img {
    width: 250px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px #888888;

}

.proyek-item p {
    font-size: 18px;
}

.contact-wrapper {
    background-color: #f4f4f4;
    padding: 100px 120px;
}


.contact-wrapper h2 {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-contact {
    display: flex;
    flex-direction: column;
}

.input {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

input {
    width: 100%;
    height: 40px;
    /* text-align: center; */
    border: none;
    border-radius: 7px;
}

.textarea {

    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    border: none;
    border-radius: 7px;
}

.btn {
    background-color: #f7e989;
    width: 40%;
    height: 50px;
    margin: 0 auto;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    color: #404146;
}

footer {
    background-color: #7c7d82;
    height: 150px;
    color: aliceblue;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 6px;
}

.footer-right ul li {
    margin-bottom: 10px;
    color: aliceblue;
    list-style: none;
}

.footer-right ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
}